@font-face {
    font-family: 'TheatreFrancais';
    src: url('../../theatre-francais/assets/fonts/theatrefrancais.eot');
    src: url('../../theatre-francais/assets/fonts/theatrefrancais.eot?#iefix') format('embedded-opentype'),
         url('../../theatre-francais/assets/fonts/theatrefrancais.woff') format('woff'),
         url('../../theatre-francais/assets/fonts/theatrefrancais.ttf') format('truetype'),
         url('../../theatre-francais/assets/fonts/theatrefrancais.svg#TheatreFrancaisfrancais') format('svg');
    font-weight: normal;
    font-style: normal;

}

span.mce_cur_shortcodes_button:before{
    font-family: 'TheatreFrancais';
    content:'l';
    display: block;
    font-size:18px;
    line-height: 21px;
    text-align: center;
    color: rgb(34,34,34);
}
